@using WebApplication1.Models
@using WebApplication1.Models.Supers
@using System.Data;

@{
    Account Account = (Session["user"] == null) ? null : (Account)Session["user"];

    if (Session["user"] == null && Request.Cookies["userCookie"] != null)
    {
        Account = new Account().FindById(Int32.Parse(Request.Cookies["userCookie"].ToString()));
        Session["user"] = Account;
    }

    int notifNums = ((WebApplication1.Controllers.GlobalController)this.ViewContext.Controller).GetNotificationNum();
}

<!DOCTYPE html>
<html>
<head>
    <title>Calfurn - @ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/button.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/field.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/select.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/table.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/modal.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/page-framework/dashboard.css")" />
    <script src="@Url.Content("~/Content/js/jquery-3.3.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/modal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/date.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/dashboard.js")" type="text/javascript"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
</head>
<body onload="ready_application_status()" id="@(ViewBag.Active == "PRINTABLE" ? "printable" : "")">
@if (ViewBag.Active != "PRINTABLE")
{

    <nav id="main-sidebar">
        <div id="logo-banner">
            <img src="@Url.Content("~/Content/assets/images/calfurn-logo-2.png")" id="logo"/>
            <div>
                <h5 class="title">Calfurn Mfg. Philippines, Inc.</h5>
                <p class="sub-title">Human Resource Information System</p>
            </div>
        </div>
        <ul>

            @if (Account == null)
            {
                if (ViewBag.Active != "ATE")
                 {
                     <div class="cluster">
                         <h6 class="cluster-label">Recruitment</h6>
                         <ul>
                             <a href="/Recruitment"><li class="@(ViewBag.Active == "JP" ? "active" : "")">Job Posting</li></a>
                         </ul>
                     </div>
                     <hr />
                 }
                <div class="cluster">
                    <h6 class="cluster-label">Account</h6>
                    <ul>
                        <a href="/Home"><li>Log In</li></a>
                        <a href="/Home/Signup"><li class="@(ViewBag.Active == "SIGN" ? "active" : "")">Sign Up</li></a>
                    </ul>
                </div>
                if (ViewBag.Active != "SIGN")
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Attendance</h6>
                        <ul>
                            <a href="/Attendance/"><li class="@(ViewBag.Active == "ATE" ? "active" : "")">Attendance</li></a>
                        </ul>
                    </div>
                }
            }

            @if (Account != null)
            {
                <div class="cluster">
                    <ul>
                        <a href="/Home">
                            <li class="@(ViewBag.Active == "HOME" ? "active" : "")" style="display: flex; align-items: center;">
                                Home
                            </li>
                        </a>

                        <a href="/Home/Notifications">
                            <li class="@(ViewBag.Active == "NOTIF" ? "active" : "")" style="display: flex; align-items: center;">
                                Notifications
                                @if (notifNums > 0)
                                {
                                    <span class="ping">
                                        @notifNums
                                    </span>
                                }
                            </li>
                        </a>
                    </ul>
                </div>
                <hr />
                if (Account.Type == AccountType.Applicant || ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                {
                    <div class="cluster">
                        <h6 class="cluster-label">Recruitment</h6>
                        <ul>
                            <a href="/Recruitment"><li class="@(ViewBag.Active == "JP" ? "active" : "")">Job Posting</li></a>

                            @if (Account.Type == AccountType.Applicant || ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                            {
                                <a href="/Recruitment/ApplicantStatus"><li class="@(ViewBag.Active == "AS" ? "active" : "")">Application Status</li></a>
                            }
                        </ul>
                    </div>
                }

                if (Account.Type != AccountType.Applicant && ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Employment</h6>
                        <ul>
                            <a href="/Employee/Add">
                                @if (ViewBag.Active == "EAdd")
                                {
                                    <li class="active">Add Employee</li>
                                }
                                else
                                {
                                    <li>Add Employee</li>
                                }
                            </a>
                            <a href="/Employee/List">
                                @if (ViewBag.Active == "EList")
                                {
                                    <li class="active">Employee List</li>
                                }
                                else
                                {
                                    <li>Employee List</li>
                                }
                            </a>
                        </ul>
                    </div>
                }

                if ((Account != null && Account.Type == AccountType.Employee || Account.Type == AccountType.DepartmentHead))
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Attendance</h6>
                        <ul>
                            <a href="/Attendance/"><li class="@(ViewBag.Active == "ATE" ? "active" : "")">Attendance</li></a>

                            @if (Account != null && ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                            {
                                <a href="/Attendance/List"><li class="@(ViewBag.Active == "LIAT" ? "active" : "")">Attendance List</li></a>
                                <a href="/Attendance/Add"><li class="@(ViewBag.Active == "ADAT" ? "active" : "")">Add Monthly Attendance Records</li></a>
                            }
                        </ul>
                    </div>
                }
                if (Account.Type != AccountType.VP && Account.Type != AccountType.CEO && Account.Type != AccountType.Applicant)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Leave</h6>
                        <ul>
                            @if (Account.Type != AccountType.Applicant && ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                            {
                                <a href="/Leave/Approval"><li class="@(ViewBag.Active == "LEA" ? "active" : "")">Leave Approval</li></a>
                            }

                            @if (Account.Type == AccountType.Employee || Account.Type == AccountType.DepartmentHead)
                            {
                                <a href="/Leave/"><li class="@(ViewBag.Active == "LAP" ? "active" : "")">Leave Application</li></a>
                            }
                        </ul>
                    </div>
                }

                if (Account.Type != AccountType.Applicant)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Evaluation</h6>
                        <ul>
                            @if (Account.Type != AccountType.Employee && Account.Type != AccountType.Applicant)
                            {
                                <a href="/Appraisal/Undiscussed"><li class="@(ViewBag.Active == "UNAPR" ? "active" : "")">Undiscussed Evaluations</li></a>
                                <a href="/Appraisal/">
                                    <li class="@(ViewBag.Active == "APR" ? "active" : "")">
                                        @(Account.Type == AccountType.DepartmentHead ? "Non-Supervisory" : "Supervisory")
                                    </li>
                                </a>
                            }

                            @if (Account.Type != AccountType.CEO)
                            {
                                <a href="/Appraisal/Personal"><li class="@(ViewBag.Active == "MYAPR" ? "active" : "")">My Evaluations</li></a>
                            }
                        </ul>
                    </div>
                }

                if (Account.Type != AccountType.CEO && Account.Type != AccountType.VP && Account.Type != AccountType.Applicant)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Training</h6>
                        <ul>
                            <a href="/Training"><li class="@(ViewBag.Active == "Training" ? "active" : "")">Training Programs</li></a>
                            <a href="/Training/Assigned"><li class="@(ViewBag.Active == "AT" ? "active" : "")">Assigned Trainings</li></a>

                        </ul>
                    </div>
                }

                if (Account.Type == AccountType.DepartmentHead)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">More</h6>
                        <ul>
                            <a href="/JobRequisition/List"><li class="@(ViewBag.Active == "REQLI" ? "active" : "")">View Requisitions</li></a>
                            <a href="/JobRequisition"><li class="@(ViewBag.Active == "REQ" ? "active" : "")">Requisition Form</li></a>
                        </ul>
                    </div>
                }

                if (Account.Type != AccountType.Applicant && ((Employee)Account.Profile).Department.Type == DepartmentType.HumanResources)
                {
                    <hr />
                    <div class="cluster">
                        <h6 class="cluster-label">Reports</h6>
                        <ul>
                            <a href="/Reports/Attendance"><li class="@(ViewBag.Active == "REPEA" ? "active" : "")">Attendance</li></a>
                            <a href="/Reports/List"><li class="@(ViewBag.Active == "REPEL" ? "active" : "")">Employee List</li></a>
                            <a href="/Reports/Evaluation"><li class="@(ViewBag.Active == "REPEE" ? "active" : "")">Employee Evaluation</li></a>
                            <a href="/Reports/Training"><li class="@(ViewBag.Active == "REPET" ? "active" : "")">Employee Training</li></a>
                        </ul>
                    </div>
                }
            }
        </ul>
    </nav>
   
    <header>
        <div>
            <b>Date/Time: </b> <span id="time">----</span>
        </div>
        <script>
            $("#time").html(moment().format('MMM DD, YYYY, h:mm:ss a'));

            var timer = setInterval(() => {
                $("#time").html(moment().format('MMM DD, YYYY, h:mm:ss a'));
            },
                1000);

        </script>
        @if (Account != null)
        {
            <div id="account-wrapper">

                <div id="profile-picture">
                    <img src="@Url.Content(Account.Image)" alt="@Account.Profile.Profile.FirstName @Account.Profile.Profile.LastName" />
                </div>
                <div>
                    <span id="profile-name">
                        @{
                            ProfiledObject profile = Account.Profile;
                        }
                        @if (profile != null)
                        {
                            @(profile.Profile.FirstName + " " + profile.Profile.LastName)
                            ;
                        }
                    </span>
                    <span id="profile-email">@Account.Email</span>
                </div>
                <img src="@Url.Content("~/Content/assets/icons/arrow-down-2.svg")" id="profile-dropdown"/>
            </div>
            <div id="account-dropdown">
                <ul>
                    <a href="/UserAccount/LogOut"><li>Logout</li></a>
                </ul>
            </div>
        }
        </header>
}
<section>
    @RenderBody()
</section>
</body>
</html>