@using WebApplication1.Models
@{
                /**/

                ViewBag.Title = " Edit Profile";
                ViewBag.Active = "HOME";

                Account Account = Session["user"] != null ? ((Account)Session["user"]) : null;

                if (ViewBag.ViewAccount != null)
                {
                    Account = ViewBag.ViewAccount;
                }
}

@if (Account != null)
{
    <div id="section-heading">
        <h1 id="section-title">Edit Profile</h1>
    </div>
    <br />
    <form>
        <div class="two-column-content">
            <div class="cluster">
                <p class="sub-title">Account</p>
                <input type="password" name="password" placeholder="Employee Password" class="full" required value="@Account.Password" />
                <input type="email" name="email" placeholder="Employee Email" class="full" required value="@Account.Email" />
            </div>
            <div class="cluster">
                <p class="sub-title">Profile Picture:</p>
                <input type="file" name="image" placeholder="Upload a file here" class="full" />
            </div>
        </div>
        <hr />
        <p class="sub-title">Personal Details</p>
        <div class="two-column-content">
            <div class="cluster">
                <input type="text" name="firstname" placeholder="First Name" class="full" required value="@Account.Profile.Profile.FirstName" />
                <input type="text" name="lastname" placeholder="Last Name" class="full" required value="@Account.Profile.Profile.LastName" />
                <input type="text" name="middlename" placeholder="Middle Name" class="full" value="@Account.Profile.Profile.MiddleName" />
                <select name="sex" class="full" required>
                    <option value="">-- Select Sex --</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <select name="civil-status" class="full" required>
                    <option value="">-- Select Civil Status --</option>
                    <option value="2">Single</option>
                    <option value="1">Married</option>
                    <option value="5">Widowed</option>
                    <option value="4">Separated</option>
                    <option value="4">Divorced</option>
                </select>
                <p class="sub-title date">Birthdate</p>
                <div class="date">
                    <select id="month" name="birth-month" class="full" required>
                        <option value="" disabled="">-- Select month --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="day" name="birth-day" class="full" required>
                        <option value="" disabled="">-- Select day --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="year" name="birth-year" class="full" data-max="@DateTime.Now.Year" required>
                        <option value="" disabled="">-- Select year --</option>
                        <!-- JS generated -->
                    </select>
                </div>

                <p class="sub-title">Address</p>

                <input type="text" name="house" placeholder="House Number" class="full" required value="@Account.Profile.Profile.HouseNo" />
                <input type="text" name="street" placeholder="Street" class="full" required value="@Account.Profile.Profile.Street" />
                <input type="text" name="city" placeholder="City" class="full" required value="@Account.Profile.Profile.City" />
                <input type="text" name="province" placeholder="Province" class="full" required value="@Account.Profile.Profile.Province" />
            </div>
            <div class="cluster">

                <input type="text" name="contact-number" placeholder="Contact Number" class="full" required value="@Account.Profile.Profile.Contact" />

                <p class="sub-title">In case of emergency</p>
                <input type="text" name="contact-person" placeholder="Contact Person" class="full" required value="@Account.Profile.Profile.ContactPerson" />
                <input type="text" name="contact-number-emergency" placeholder="Contact Number" class="full" required value="@Account.Profile.Profile.CPersonNo" />
                <input type="text" name="relationship" placeholder="Relationship" class="full" required value="@Account.Profile.Profile.CPersonRel" />
            </div>
        </div>
        <hr />
        <p class="sub-title">Employment History</p>
        <div id="employee-history">
            <button class="hallow add-button" onclick="event.preventDefault();addEH()">
                <img src="@Url.Content("~/Content/assets/icons/add.svg")" />
                Add History
            </button>
            <br />
            @if (Account.Profile.Profile.EmploymentHistories != null && Account.Profile.Profile.EmploymentHistories.Count > 0)
            {
                foreach (EmploymentHistory emp in Account.Profile.Profile.EmploymentHistories)
                {
                    <text>
                        <div class='two-column-content' data-container='employee-history'>
                            <div class='cluster'>
                                <input type='text' name='company' placeholder='Company' class='full' value="@emp.CompanyName" />
                                <input type='text' name='address' placeholder='Address' class='full' value="@emp.Address" />
                                <input type='text' name='position' placeholder='Position' class='full' value="@emp.Position" />
                                <input type='text' name='cperson' placeholder='Contact Person' class='full' value="@emp.ContactName" />
                                <input type='phone' name='number' placeholder='Contact Number' class='full' value="@emp.ContactNo" />
                                <textarea placeholder="Reason for leaving" name="leave" class="full">@emp.LeavingReason</textarea>
                            </div>
                            <div class='cluster date'>
                                <select id='year' name='start-year' data-max="@DateTime.Now.Year" class='full'></select>
                                <select id='year' name="end-year" data-max="@DateTime.Now.Year" class='full'></select>
                            </div>
                        </div>
                    </text>
                }
            }
        </div>
        <hr />
        <div class="two-column-content">
            <div class="cluster">
                <p class="sub-title">Elementary</p>
                <input type="text" name="elementary-name" placeholder="School Name" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.Elementary.Name : "")"//>
                <input type="text" name="elementary-address" placeholder="Address" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.Elementary.Address : "")"//>
                <div class="date">
                    <select id="year" name="elementary-start-year" class="full">
                        <option value="-1">-- Start Year --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="year" name="elementary-end-year" class="full">
                        <option value="-1">-- End Year --</option>
                        <!-- JS generated -->
                    </select>
                </div>

                <p class="sub-title">High School</p>
                <input type="text" name="hs-name" placeholder="School Name" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.HighSchool.Name : "")" />
                <input type="text" name="hs-address" placeholder="Address" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.HighSchool.Address : "")"//>
                <div class="date">
                    <select id="year" name="hs-start-year" class="full">
                        <option value="-1">-- Start Year --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="year" name="hs-end-year" class="full">
                        <option value="-1">-- End Year --</option>
                        <!-- JS generated -->
                    </select>
                </div>
            </div>
            <div class="cluster">
                <p class="sub-title">College</p>
                <input type="text" name="college-name" placeholder="School Name" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.College.Name : "")"//>
                <input type="text" name="college-address" placeholder="Address" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.College.Address : "")"//>
                <div class="date">
                    <select id="year" name="college-start-year" class="full">
                        <option value="-1">-- Start Year --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="year" name="college-end-year" class="full">
                        <option value="-1">-- End Year --</option>
                        <!-- JS generated -->
                    </select>
                </div>

                <p class="sub-title">Post Graduate</p>
                <input type="text" name="post-name" placeholder="School Name" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.PostGraduate.Name : "")" />
                <input type="text" name="post-address" placeholder="Address" class="full" value="@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.PostGraduate.Name : "")" />
                <div class="date">
                    <select id="year" name="post-start-year" class="full">
                        <option value="-1">-- Start Year --</option>
                        <!-- JS generated -->
                    </select>
                    <select id="year" name="post-end-year" class="full">
                        <option value="-1">-- End Year --</option>
                        <!-- JS generated -->
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="full">Request Profile Update</button>
        <div id="alert"></div>
    </form>
    <script>
        $(document).ready(() => {
            $("select[name=post-start-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.PostGraduate.Start : ""));
            $("select[name=post-end-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.PostGraduate.End : ""));

            $("select[name=college-start-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.College.Start : ""));
            $("select[name=college-end-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.College.End : ""));

            $("select[name=hs-start-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.HighSchool.Start : ""));
            $("select[name=hs-end-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.HighSchool.End : ""));

            $("select[name=elementary-start-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.Elementary.Start : ""));
            $("select[name=elementary-end-year]").val(@(Account.Profile.Profile.Education != null ? @Account.Profile.Profile.Education.Elementary.End : ""));

            $("select[name=birth-year]").val(@Account.Profile.Profile.BirthDate.Year);
            $("select[name=birth-day]").val(@Account.Profile.Profile.BirthDate.Day);
            $("select[name=birth-month]").val(@Account.Profile.Profile.BirthDate.Month);


            $("select[name=sex]").val(@Account.Profile.Profile.Sex);
            $("select[name=civil-status]").val(@Account.Profile.Profile.CivilStatus);
        })
    </script>
    <script>

        $("form").on("submit", (e) => {
            e.preventDefault();
            var form = new FormData();
            form.append("history", getEmploymentHistory());
            form.append("education", getEducation());

            form.append("file", $("input[type=file]")[0].files[0]);
            form.append("username", $("input[name=username]").val());
            form.append("password", $("input[name=password]").val());
            form.append("type", $("select[name=account-type]").val());
            form.append("email", $("input[name=email]").val());
            form.append("question", $("input[name=question]").val());
            form.append("answer", $("input[name=answer]").val());

            form.append("code", $("input[name=employee-code]").val());
            form.append("department", $("select[name=department]").val());
            form.append("position", $("input[name=employee-position]").val());
            form.append("hyear", $("select[name=year]").val());
            form.append("hmonth", $("select[name=month]").val());
            form.append("hday", $("select[name=day]").val());

            form.append("firstname", $("input[name=firstname]").val());
            form.append("middlename", $("input[name=middlename]").val());
            form.append("lastname", $("input[name=lastname]").val());
            form.append("sex", $("select[name=sex]").val());
            form.append("status", $("select[name=civil-status]").val());
            form.append("byear", $("select[name=birth-year]").val());
            form.append("bmonth", $("select[name=birth-month]").val());
            form.append("bday", $("select[name=birth-day]").val());

            form.append("house", $("input[name=house]").val());
            form.append("street", $("input[name=street]").val());
            form.append("city", $("input[name=city]").val());
            form.append("province", $("input[name=province]").val());

            form.append("contact", $("input[name=contact-number]").val());
            form.append("emergency-name", $("input[name=contact-person]").val());
            form.append("emergency-number", $("input[name=contact-number-emergency]").val());
            form.append("emergency-rel", $("input[name=relationship]").val());

            $.ajax({
                url: "/UserAccount/AccountUpdate",
                method: "POST",
                data: form,
                processData: false,
                contentType: false,
                success: (data) => {
                    if (data.error)
                        $("#alert").addClass('error');
                    else
                        $("#alert").addClass('success');

                    $("#alert").html(data.message);
                }
            })
        });

        function addEH() {
            var container = $("<div class='two-column-content' data-container='employee-history'></div>");
            var left = $("<div class='cluster'></div>");
            var right = $("<div class='cluster date'></div>");

            var company = $("<input type='text' name='company' placeholder='Company' class='full'/>");
            var address = $("<input type='text' name='address' placeholder='Address' class='full'/>");
            var position = $("<input type='text' name='position' placeholder='Position' class='full'/>");
            var cperson = $("<input type='text' name='cperson' placeholder='Contact Person' class='full'/>");
            var number = $("<input type='phone' name='number' placeholder='Contact Number' class='full'/>");
            var leave = $('<textarea placeholder="Reason for leaving" name="leave" class="full"></textarea>');

            left.append(company);
            left.append(address);
            left.append(position);
            left.append(cperson);
            left.append(number);

            var start = $("<select id='year' name='start-year' class='full'></select>");
            var end = $("<select id='year' name='end-year' class='full'></select>");

            start.append("<option id='year' selected disabled> -- Start Year -- </option>");
            end.append("<option id='year' selected disabled> -- End Year -- </option>");

            for (var i =  @DateTime.Now.Year; i >= 1960; i--) {
                start.append('<option value="' + i + '">' + i + '</option>');
                end.append('<option value="' + i + '">' + i + '</option>');
            }

            right.append(start);
            right.append(end);
            right.append(leave);

            container.append(left);
            container.append(right);

            $("#employee-history").append("<br/>");
            $("#employee-history").append(container);
        }

        function getEmploymentHistory() {
            var json = [];
            $("div[data-container='employee-history']").each((o, i) => {
                var company = $(i).find("input[name='company']").val();
                var address = $(i).find("input[name='address']").val();
                var position = $(i).find("input[name='position']").val();
                var cperson = $(i).find("input[name='cperson']").val();
                var number = $(i).find("input[name='number']").val();
                var leave = $(i).find("textarea[name='leave']").val();

                var start = $(i).find("select[name='start-year']").val();
                var end = $(i).find("select[name='end-year']").val();

                if (company.length > 0 &&
                    address.length > 0 &&
                    position.length > 0 &&
                    cperson.length > 0 &&
                    number.length > 0) {
                    json.push({
                        company,
                        address,
                        position,
                        cperson,
                        number,
                        start,
                        end,
                        leave
                    });
                }
            });

            return JSON.stringify(json);
        }

        function getEducation() {
            var elementaryName = $("input[name=elementary-name]").val();
            var elementaryAddress = $("input[name=elementary-address]").val();
            var hsName = $("input[name=hs-name]").val();
            var hsAddress = $("input[name=hs-address]").val();
            var collegeName = $("input[name=college-name]").val();
            var collegeAddress = $("input[name=college-address]").val();
            var postName = $("input[name=post-name]").val();
            var postAddress = $("input[name=post-address]").val();

            var json = {};

            if (elementaryName.length > 0 && elementaryAddress.length > 0)
                json["elementary"] = {
                    "name": elementaryName,
                    "address": elementaryAddress,
                    "start": $("select[name=elementary-start-year]").val(),
                    "end": $("select[name=elementary-end-year").val()
                };

            if (hsName.length > 0 && hsAddress.length > 0)
                json["hs"] = {
                    "name": hsName,
                    "address": hsAddress,
                    "start": $("select[name=hs-start-year]").val(),
                    "end": $("select[name=hs-end-year").val()
                };

            if (collegeName.length > 0 && collegeAddress.length > 0)
                json["college"] = {
                    "name": collegeName,
                    "address": collegeAddress,
                    "start": $("select[name=college-start-year]").val(),
                    "end": $("select[name=college-end-year").val()
                };

            if (postName.length > 0 && postAddress.length > 0)
                json["post"] = {
                    "name": postName,
                    "address": postAddress,
                    "start": $("select[name=post-start-year]").val(),
                    "end": $("select[name=post-end-year").val()
                };
            return JSON.stringify(json);
        }
    </script>
}