@{
    Layout = null;
}

@using Newtonsoft.Json.Linq

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Calfurn</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/button.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/element-framework/field.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/page-framework/login.css")" />
    <script src="@Url.Content("~/Content/js/jquery-3.3.1.js")" type="text/javascript"></script>
</head>
<body>
<div id="login-form">
    <img src="@Url.Content("~/Content/assets/images/calfurn-logo.png")" id="logo" />
    <h3 class="title">Calfurn Mfg. Philippines, Inc.</h3>
    <p class="sub-title">Human Resource Information System</p>
    <hr/>
    <form action="/UserAccount/LogInNoAjax" method="post" id="login">
        <input type="text" placeholder="Username" name="username" autofocus value="testHRHead" />
        <br/>
        <input type="password" placeholder="Password" name="password" value="123"/>
        <span class="options">
            <label for="remember"></label>
            <a href="/UserAccount/Forgot" id="forgot">forgot password?</a>
        </span>
        <br/>
        <button type="submit" id="sign-in">Sign in</button>
        @{
          var Alert = (ViewData["Alert"] != null) ? (JObject)ViewData["Alert"] : new JObject();
        } 
        <div id="alert" class="@Alert["Class"]">@Alert["Message"]</div>
    </form>
</div>
<br/>
<div id="signup-link">
    <p>Don't have an account? <a href="/Home/Signup">Register here</a> or <a href="/Attendance/">Time In</a>.</p>
    <p><a href="/Recruitment/">View Job Postings</a>.</p>
</div>

<script>
    $(document).ready(() => {
        $("#login").submit((e) => {
            e.preventDefault();
            $("button#sign-in").attr("disabled", "true");
            $("button#sign-in").text("Logging in...");

            var form = new FormData($("#login")[0]);
            var div = $("#alert");

            $.ajax({
                url: "/UserAccount/LogIn",
                data: form,
                method: "POST",
                dataType: "json",
                processData: false,
                contentType: false,
                success: (response) => {
                    $("button#sign-in").text("Sign in");
                    $("button#sign-in").removeAttr("disabled");

                    if (response.error)
                        div.addClass("error");
                    else
                        div.addClass("success");

                    div.text(response.message);

                    console.log(response);
                    if (!response.error) {
                        location.replace("/Home/Dashboard")
                    }
                },
                error: (response) => {
                    div.addClass("error").text("Error! Something went wrong with the server...");
                }
            })
        })
    });
</script>
</body>
</html>